body {
    padding: 0;
    margin: 0;
}

main {
    padding: 16px;
}

h1 {
    color: rgb(70, 124, 61);
}

footer {
    padding-top: 24;
    padding-bottom: 24;
    background-color: rgb(49, 85, 48);
    height: 75px;
  line-height: 75px;
  padding-left: 20px;
  color: rgb(226, 226, 226);
}

img {
    height: 200px;
}

nav {
    padding: 16px;
    background-color: rgb(240, 174, 87);
    color: rgb(231, 229, 229);

}

.nava:visited {
    color: white;
}

:link {
    text-decoration: none;
}

.foodtitle {
    color:rgb(70, 124, 61)
}

.foodtitle:visited {
    text-decoration: none;
    color:rgb(70, 124, 61)
}


.grid-container {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 300px;
}
